<section class="group-interface" data-id="{{id}}">
  <h1 class="title is-2">{{group_name}}</h1>
  <section class="user-interface">

    <ul class="member-list">
      <h3 class="title is-4">Members:</h3>
      {{#each users as |user|}}
      <li class="tag is-info subtitle is-5">
        {{user.name}}
        {{#each user.roles as |role|}}
        <small class="tag is-danger">{{role.role_name}}</small>
        {{/each}}
      </li>
      {{/each}}
    </ul>
    <section class="btn-container">

      <button data-name="Create bulletin" class="button is-link create-bulletin">Create bulletin</button>
      <form class="hide bulletin column">

        <div class="field">
          <label class="label">Bulletin Name</label>
          <div class="control has-icons-left has-icons-right">
            <input id="bulletin-name" class="input" type="text" placeholder="enter bulletin name">
            <span class="icon is-small is-left">
              <i class="fa-solid fa-file-signature"></i>
            </span>
          </div>
        </div>

        <button class="button is-success">Create</button>

      </form>

      <button data-name="Invite new member" class="button is-link invite-member">Invite new member</button>
      <form class="hide invite-member column">

        <div class="field">
          <label class="label">Enter user email</label>
          <div class="control has-icons-left has-icons-right">
            <input id="invite-email" class="input" type="email" placeholder="email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Enter message <small>(optional)</small></label>
          <div class="control">
            <textarea name="message" id="message-input" cols="22" rows="3"></textarea>
          </div>
        </div>

        <button class="button is-success">Send</button>

      </form>

      <button data-name="Group settings" class="button is-link group settings">Group settings</button>
      <form class="hide group-settings column">
        <h4>here will be some group settings</h4>
      </form>
    </section>

    <ul class="bulletin-list">
      <h3 class="title is-4">Bulletins:</h3>
      {{#each bulletins as |bulletin|}}
      <li data-type="bulletin" data-id="{{bulletin.id}}" class="button is-info subtitle is-6">{{bulletin.bulletin_name}}</li>
      {{/each}}
    </ul>
  </section>
</section>

<script src="/js/utils.js"></script>
<script src="/js/group.js"></script>